<footer id="footer" class="footer">
		
    <!-- Footer Widget -->
    <div class="footer-widgets">
        <div class="container">
            <div class="row footer-widgets__row footer-widgets__row--is-numbered">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <!-- Widget: Address -->
                    <div class="widget widget--footer">
                        <div class="widget__header">
                            <h4 class="widget__title">Our Address</h4>
                        </div>
                        <div class="widget__content">
                            <address>
                                <p>
                                    Escape Room Ltd.<br>
                                    2390 RoadHill St., Suite 100<br>
                                    North Downtown, NY 82153
                                </p>

                                <p>
                                    Email: <a href="mailto:info@escapium.com">info@escapium.com</a><br>
                                    Tel: +1 800 900 1248
                                </p>
                            </address>
                        </div>
                    </div>
                    <!-- Widget: Address / End -->
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <!-- Widget: Links -->
                    <div class="widget widget--footer widget_nav_menu">
                        <div class="widget__header">
                            <h4 class="widget__title">Useful Links</h4>
                        </div>
                        <div class="widget__content">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Plan an Event</a></li>
                                <li><a href="#">Pricing Packages</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Widget: Links / End -->
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <!-- Widget: Schedule -->
                    <div class="widget widget--footer widget-schedule">
                        <div class="widget__header">
                            <h4 class="widget__title">Working Hours</h4>
                        </div>
                        <div class="widget__content">
                            <ul class="schedule schedule-list">
                                <li class="schedule__item">
                                    <span class="schedule__title">Monday:</span>
                                    <span class="schedule__time">6pm - 11pm</span>
                                </li>
                                <li class="schedule__item">
                                    <span class="schedule__title">Tuesday:</span>
                                    <span class="schedule__time">5pm - 11pm</span>
                                </li>
                                <li class="schedule__item">
                                    <span class="schedule__title">Wednesday:</span>
                                    <span class="schedule__time">Closed</span>
                                </li>
                                <li class="schedule__item">
                                    <span class="schedule__title">Thursday:</span>
                                    <span class="schedule__time">6pm - 11pm</span>
                                </li>
                                <li class="schedule__item">
                                    <span class="schedule__title">Friday:</span>
                                    <span class="schedule__time">2pm - 11pm</span>
                                </li>
                                <li class="schedule__item">
                                    <span class="schedule__title">Saturday:</span>
                                    <span class="schedule__time">11am - 11pm</span>
                                </li>
                                <li class="schedule__item">
                                    <span class="schedule__title">Sunday</span>
                                    <span class="schedule__time">11am - 9pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Widget: Schedule / End -->
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <!-- Widget: Social Links -->
                    <div class="widget widget--footer widget-social">
                        <div class="widget__header">
                            <h4 class="widget__title">Social Links</h4>
                        </div>
                        <div class="widget__content">
                            <ul class="social-links social-links--circle">
                                <li class="social-links__item">
                                    <a class="social-links__link" href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a class="social-links__link" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a class="social-links__link" href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a class="social-links__link" href="#"><i class="fab fa-discord"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a class="social-links__link" href="#"><i class="fab fa-yelp"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a class="social-links__link" href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a class="social-links__link" href="#"><i class="fab fa-google"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Widget: Social Links / End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widgets / End -->

    <!-- Footer Copyright -->
    <div class="footer-copyright">
        <div class="container">

            <!-- Logo - Image Based -->
            <div class="footer__logo footer__logo--img">
                <a href="index.html"><img src="assets/img/footer-logo.png" srcset="assets/img/footer-logo@2x.png 2x" alt="Escapium Logo"></a>
            </div>
            <!-- Logo - Image Based / End -->

            <div class="footer-copyright__txt">
                Copyright &copy; 2021 Escapium &nbsp;|&nbsp; All Rights Reserved
            </div>
        </div>
    </div>
    <!-- Footer Copyright / End -->
</footer>