	{% load static%}
     <!-- Javascript Files
	================================================== -->
	<!-- Vendors JS -->
	<script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static '/vendor/jquery/jquery-migrate.min.js' %}"></script>
	
	<script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script defer src="{% static '/font-icon/font-awesome/js/all.min.js' %}"></script>
	<script src="{% static '/vendor/gmap3/dist/gmap3.min.js' %}"></script>
	
	<!-- Core JS -->
	<script src="{% static '/js/core.js' %}"></script>
	
	<!-- Template JS -->
	<script src="{% static '/js/init.js' %}"></script>
	                    <!-- Load the Items API library. -->
	<script src="https://items.learnosity.com/?latest-lts"></script>
