<div class="main-slider-wrapper">
    <div class="main-slider js-main-slider">
        <!-- Slide #1 -->
        <div class="main-slider__item main-slider__item--img-1">
            <div class="main-slider__layer main-slider__item-content">
                <h1 class="main-slider__item-title">
                    <span data-animation="fadeInUp" data-delay="0.1s">You Are</span>
                    <span data-animation="fadeInUp" data-delay="0.3s">Locked In!</span>
                </h1>
                <a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
            </div>
        </div>
        <!-- Slide #1 / End -->

        <!-- Slide #2 -->
        <div class="main-slider__item main-slider__item--img-2">
            <div class="main-slider__layer main-slider__item-content">
                <h1 class="main-slider__item-title">
                    <span data-animation="fadeInUp" data-delay="0.1s">The Clock</span>
                    <span data-animation="fadeInUp" data-delay="0.3s">Is Ticking...</span>
                </h1>
                <a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
            </div>
        </div>
        <!-- Slide #2 / End -->

        <!-- Slide #3 -->
        <div class="main-slider__item main-slider__item--img-4">
            <div class="main-slider__layer main-slider__item-content">
                <h1 class="main-slider__item-title">
                    <span data-animation="fadeInUp" data-delay="0.1s">Escape</span>
                    <span data-animation="fadeInUp" data-delay="0.3s">in 60 mins?</span>
                </h1>
                <a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
            </div>
        </div>
        <!-- Slide #3 / End -->

        <!-- Slide #4 -->
        <div class="main-slider__item main-slider__item--img-3">
            <div class="main-slider__layer main-slider__item-content">
                <h1 class="main-slider__item-title">
                    <span data-animation="fadeInUp" data-delay="0.1s">What is</span>
                    <span data-animation="fadeInUp" data-delay="0.3s">Escapium?</span>
                </h1>
                <a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
            </div>
        </div>
        <!-- Slide #4 / End -->

    </div>
</div>