{% load static %}
	<!-- Basic Page Needs
	================================================== -->
	<title>Learn Learnosity - {{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/favicon-120.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/favicon-152.png' %}">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<!-- Google Web Fonts
	================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Anton%7CHind:400,700%7CMontserrat:400,700" rel="stylesheet">

	<!-- CSS
	================================================== -->
	<!-- Vendor CSS -->
	<link href="{% static '/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static '/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
	<link href="{% static '/font-icon/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
	<link href="{% static '/font-icon/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
	<link href="{% static '/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static '/vendor/slick/slick.css" rel="stylesheet' %}">

	<!-- Template CSS-->
	<link href="{% static '/css/style.css' %}" rel="stylesheet">

	<!-- Booked CSS-->
	<link href="{% static '/css/booked.css' %}" rel="stylesheet">

	<!-- Custom CSS-->
	<link href="{% static '/css/custom.css' %}" rel="stylesheet">
