{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>Learn Learnosity - {{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/favicon-120.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/favicon-152.png' %}">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

{% include 'includes/styles.html' %}
</head>
<body>
	<div class="site-wrapper">

		<div id="js-preloader-overlay" class="preloader-overlay">
			<div id="js-preloader" class="preloader"></div>
		</div>
	{% include 'includes/header-nav.html' %}
		<!-- Main Slider -->
		<main>
		<div class="main-slider-wrapper">
			<div class="main-slider js-main-slider">
						<div class="main-slider__item main-slider__item--img-2">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.1s">The <span class="gold">Gold Standard</span></span>
							<span data-animation="fadeInUp" data-delay="0.3s">Assessment Engine</span>
							<img src="{% static 'img/assessment.gif' %}"data-delay="1.0s" />

						</h1>
						<a href="#assessment" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Put Your Learnosity Skill to the Test</a>
					</div>
				</div>
			</div>
		</div>
		<main class="site-content">
		<!-- Section: Featured Rooms -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2  id="assessment" class="section-heading__title" data-aos="fade" data-aos-duration="600">Available Assessments</h2>
				</div>
		
				<div class="row">
					<div class="col-md-10 ml-md-auto mr-md-auto">
		
						<!-- Rooms - List -->
						<div class="rooms rooms--list">
		
							<!-- Room #1 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Accessing Content</a></h2>
										<!-- Title / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p> Test your knowledge about accessing and initializing the Items API to render Questions. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="https://help.learnosity.com/hc/en-us/articles/360000756098-Items-API" class="btn btn-primary mb-3" target="_blank">View Documention</a>
										<a href="{% url 'items-api-assessment' %}" class="btn btn-warning">Take Assessment</a>

									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="img/samples/room-list-1.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #1 / End -->
		
							<!-- Room #2 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Title -->
										<h2 class="room__title">Creating Content</h2>
										<!-- Title / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Something About Authoring API </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="https://help.learnosity.com/hc/en-us/articles/360000756098-Items-API" class="btn btn-primary mb-3" target="_blank">View Documention</a>
										<a href="{% url 'items-api-assessment' %}" class="btn btn-warning">Take Assessment</a>

									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="img/samples/room-list-2.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #2 / End -->
		
							<!-- Room #3 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
							
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Delivering Assessments</a></h2>
										<!-- Title / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p> </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<footer class="room__footer">
											<a href="https://help.learnosity.com/hc/en-us/articles/360000756098-Items-API" class="btn btn-primary mb-3" target="_blank">View Documention</a>
											<a href="{% url 'items-api-assessment' %}" class="btn btn-warning">Take Assessment</a>
	
										</footer>
								</div>	
					</div>
					<div class="room" data-aos="fade-up" data-aos-duration="800">
						<div class="room__body box">
							<!-- Header -->
							<header class="room__header">
								<!-- Title -->
								<h2 class="room__title">Processing Feedback </h2>
								<!-- Title / End -->
							</header>
							<!-- Header / End -->
							<!-- Excerpt -->
							<div class="room__excerpt">
								<p>Something About Authoring API </p>
							</div>
							<!-- Excerpt / End -->
							<!-- Read More -->
							<footer class="room__footer">
								<a href="https://help.learnosity.com/hc/en-us/articles/360000756098-Items-API" class="btn btn-primary mb-3" target="_blank">View Documention</a>
								<a href="{% url 'items-api-assessment' %}" class="btn btn-warning">Take Assessment</a>

							</footer>
							<!-- Read More / End -->
						</div>
						<!-- Image -->
						<figure class="room__img">
							<a href="room-single.html"><img src="img/samples/room-list-2.jpg" alt=""></a>
						</figure>
						<!-- Image / End -->
					</div>
						
							<!-- Room #3 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
							
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Advanced Implementions</a></h2>
										<!-- Title / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p> </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<footer class="room__footer">
											<a href="https://help.learnosity.com/hc/en-us/articles/360000756098-Items-API" class="btn btn-primary mb-3" target="_blank">View Documention</a>
											<a href="{% url 'items-api-assessment' %}" class="btn btn-warning">Take Assessment</a>
	
										</footer>
								</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- Section: Featured Rooms / End -->
		
		<!-- Section: How it works -->
		<div class="section-content section-content--secondary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">How it works</h2>
				</div>
		
				<div class="row">
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-notebook"></i>
								</div>
							</div>
							<h3 class="icobox__title">Read The Docs</h3>
							<div class="icobox__desc">
								You will bring nothing in, but the escape room will be filled with useful and sometimes irrelevant objects.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-clock"></i>
								</div>
							</div>
							<h3 class="icobox__title">Practice Your Skills</h3>
							<div class="icobox__desc">
								Can you puzzle your way to the intriguing conclusion and escape the room in 60 minutes?
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="ion-ios-pulse-strong"></i>
								</div>
							</div>
							<h3 class="icobox__title">Take the Assessment</h3>
							<div class="icobox__desc">
								The rooms is built to create an authentic experience with a fun atmosphere, strict attention to detail. <a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
				</div>
		
			</div>
		</div>
	</main>
		{% include 'includes/scripts.html' %}
	</body>
	</html> 
	