{% extends 'includes/base.html' %}
{% load static %}
{% block main %}
		<!-- Main Slider -->
		<div class="main-slider-wrapper">
			<div class="main-slider js-main-slider">
						<div class="main-slider__item main-slider__item--img-2">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.1s">The <span class="gold">Gold Standard</span></span>
							<span data-animation="fadeInUp" data-delay="0.3s">Assessment Engine</span>
							<img src="{% static 'img/assessment.gif' %}"data-delay="1.0s" />

						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Put Your Learnosity Skill to the Test</a>
					</div>
				</div>
			</div>
		</div>
		<main class="site-content">
		<!-- Section: Featured Rooms -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Assessments</h2>
				</div>
		
				<div class="row">
					<div class="col-md-10 ml-md-auto mr-md-auto">
		
						<!-- Rooms - List -->
						<div class="rooms rooms--list">
		
							<!-- Room #1 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating-icons">
											<div class="rating-icons__placeholder">
												<i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i>
											</div>
											<div class="rating-icons__active">
												<i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i>
											</div>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Accessing Content</a></h2>
										<!-- Title / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p> Test your knowledge about accessing and initializing the Items API to render Questions. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">View Documention</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="img/samples/room-list-1.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #1 / End -->
		
							<!-- Room #2 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating-icons">
											<div class="rating-icons__placeholder">
												<i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i>
											</div>
											<div class="rating-icons__active">
												<i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i>
											</div>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">The Cure</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 2-3
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Read More</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="img/samples/room-list-2.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #2 / End -->
		
							<!-- Room #3 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating-icons">
											<div class="rating-icons__placeholder">
												<i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i><i class="ion-locked"></i>
											</div>
											<div class="rating-icons__active">
												<i class="ion-locked"></i><i class="ion-locked"></i>
											</div>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Burlesque</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 3-5
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Read More</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="img/samples/room-list-3.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #3 / End -->
		
						</div>
						<!-- Rooms - List / End  -->
		
						<div class="text-center" data-aos="fade" data-aos-duration="600">
							<a href="room-grid-3cols.html" class="btn btn-outline-secondary btn-lg">View All Rooms</a>
						</div>
		
					</div>
				</div>
			</div>
		</div>
		<!-- Section: Featured Rooms / End -->
		
		<!-- Section: How it works -->
		<div class="section-content section-content--secondary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">How it works</h2>
				</div>
		
				<div class="row">
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-lock"></i>
								</div>
							</div>
							<h3 class="icobox__title">You Are Locked In</h3>
							<div class="icobox__desc">
								You will bring nothing in, but the escape room will be filled with useful and sometimes irrelevant objects.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-clock"></i>
								</div>
							</div>
							<h3 class="icobox__title">The Clock Is Ticking…</h3>
							<div class="icobox__desc">
								Can you puzzle your way to the intriguing conclusion and escape the room in 60 minutes?
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="ion-ios-pulse-strong"></i>
								</div>
							</div>
							<h3 class="icobox__title">Feel The Atmosphere</h3>
							<div class="icobox__desc">
								The rooms is built to create an authentic experience with a fun atmosphere, strict attention to detail. <a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
				</div>
		
			</div>
		</div>

{% endblock %}
