{% load static %}
<head>
	{% include 'includes/styles.html' %}
	</head>
	<body>
		<div class="site-wrapper">
	
			<div id="js-preloader-overlay" class="preloader-overlay">
				<div id="js-preloader" class="preloader"></div>
			</div>
		{% include 'includes/header-nav.html' %}
			<!-- Main Slider -->
			<main>
<!-- Page Heading
		================================================== -->
		<div class="page-heading jarallax" data-jarallax data-speed="0.2">
			<div class="page-heading__inner">
				<div class="container">
					<div class="row col-lg-9 offset-lg-1">
						<h1 class="page-heading__title page-heading__post-title">Items API Assessment</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		<!-- Content
		================================================== -->
		<main class="site-content">
		
		<div class="section-content">
			<div class="container">
		
				<div class="row">
		
					<!-- Content -->
					<div class="content col-md-8">
		
						<!-- Single Post -->
						<div class="post post--single-post">
							<figure class="post__thumb">
								<img src="assets/img/samples/blog-post-img-1.jpg" alt="">
							</figure>
							<div class="post__body box">
								<div class="post__content">
									<p>Learnosity was founded in Dublin, Ireland in 2007 by CEO, Gavin Cooney and CTO, Mark Lynch. The company creates online education assessment and teaching software. Learnosity initially focussed primarily on audio assessment and mobile-assisted language learning, notably the FÓN project – a joint collaboration between The National Council for Curriculum and Assessment (NCCA) and the National Centre for Technology in Education (NCTE).</p>

										<p>In 2011, Learnosity pivoted from a primarily B2C model to a B2B model. The company currently operates a Platform as a Service (PaaS) business model where its products, including a suite of embeddable technology-enhanced items.</p>
										
										<p>In 2016, the company formed the MathQuill Alliance together with Desmos and Sapient Docs to support the continued development of MathQuill, a cross-browser, JavaScript library that displays, and allows users to easily edit and create, mathematical notation in web browsers</p>

										<span class="learnosity-response question-60005"></span>

									<div class="pt-4"></div>
									
		
									<h3>What is the Items API</h3>
									<p>An embeddable Javascript API to provide a world-class Assessment delivery experience.</p> 
									<p>Items API is designed to provide either an assessment player experience, or allow you to build and deliver formative learning content with bespoke placement of content dotted around your learning material. It provides a fully customizable assessment player, support for student annotations and markup, responsive design for all device screen sizes, and is designed from the ground up to satisfy WCAG and ADA requirements.</p>
		
									<figure class="wp-caption aligncenter">
										<img src="assets/img/samples/post-content-img.jpg" alt="">
										<figcaption class="wp-caption-text">Nunc fringilla leo non nisi dictum consequat</figcaption>
									</figure>
		
									<p>In mi felis, semper vitae mi id, molestie commodo tellus. Nullam neque dolor, faucibus ac sollicitudin egestas, sollicitudin id velit. Vivamus eu sollicitudin neque. Sed id sapien eu tellus vestibulum tempor ut sit amet risus. Sed dapibus blandit maximus. Nam convallis dapibus risus ut efficitur. Curabitur interdum quam vitae ullamcorper fermentum. Integer lacinia varius mi, at feugiat felis vulputate at. Praesent sed laoreet diam, eget pellentesque nibh. Aliquam ac leo nec nisi sodales efficitur eget eu purus.</p>
		
									<p>Donec vulputate id massa quis rutrum. Integer maximus lacus non augue sollicitudin, ac ornare enim ullamcorper. Maecenas rutrum tortor quis dui luctus, at commodo diam cursus. Nunc fringilla leo non nisi dictum consequat. Etiam nec volutpat ipsum. Nunc purus leo, tempus non tempus dignissim, tempus vel diam. Nam sollicitudin convallis enim in blandit. Fusce tristique lacinia lorem eu varius.</p>
								</div>
								
							</div>
						</div>

					<div id="sidebar" class="sidebar col-md-4">
		
						
		
				</div>
		
			</div>
		</div>
		
		</main>

		
		
		
	</div>
		{% include 'includes/scripts.html' %}
		    <!-- Load the Questions API library. -->
			<script src="https://questions.learnosity.com/?latest-lts"></script>
			<!-- Initiate Questions API  -->
			<script>
				var questionsApp = LearnosityApp.init( {{ generated_request }} );
			</script>
	</body>
	</html> 

</body>
</html>
